//reset everything from gtk 
*{
    all: unset;
    font-family: "Torus Pro", "Torus";
    font-weight: 600;
    font-size: 14px;
}
//basic colors
$bg:        #2e3440;
$bgtrans:   rgba(46, 52, 64, 0.4);
// $bgtrans2:   rgba(46, 52, 64, 0.67);
$bgtrans2:   #2e3440;
$fg:        #eceff4;

//polar night
$polar0:    #2e3440;
// $polar1:   rgba(46, 52, 64, 0.9);
$polar1:    #3b4252;
$polar2:    #434c5e;
$polar3:    #4c566a;

//snow storm
$snow0:     #eceff4;
$snow1:     #e4e9f0;
$snow2:     #d8dee9;

//frost -- l- prefix means light, d- dark
$dcyan:     #8fbcbb;
$lcyan:     #88c0d0;

$lblue:     #81a1c1;
$dblue:     #5e81ac;

//aurora
$pink:      #b48ead;
$red:       #bf616a;
$orange:    #d08770;
$yellow:    #ebcb8b;
$green:     #a3be8c;
$radius: 12px;
$small: 0px 5px 0px 3px;
$large: 2px 12px 2px 9px;
$xlarge: 2px 17px 2px 13px;

@function fade($color){
    @return mix($color, $polar3, 70)
}


tooltip{
    background-color: $polar2;
    border: 3px solid $polar3;
    color: $snow2;
    border-radius: 12px;
}
tooltip label{
    color: $snow2;
    font-size: 14px;
}

scrollbar{
    background-color: transparent;
    transition: background-color 75ms cubic-bezier(0, 0, 0.2, 1);
}
scrollbar slider{
    background-color: $snow0;
    min-width: 6px;
    min-height: 2px;
    border-radius: 12px;
    transition: background-color 75ms cubic-bezier(0, 0, 0.2, 1);
    background-clip: padding-box;

}
scrollbar slider:hover{
    background-color: fade($snow2);
}
.button,.button-active,.button-warn,.button-s,.button-nice,.button-inac{
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 1px 16px 1px 12px;
    border-radius: 12px;
    background-color: $polar2;
    margin: 6px;
    color: $snow0;
    min-height: 40px;
}
.button-s{
    padding: 1px 14px 1px 12px;
    min-width: 16px;
}
.button:hover,.button-s:hover{
    background-color: $polar3;
}
.button-inac:hover{
    background-color: $polar2;
}
.button-active{
    background-color: $dcyan;
    color: $polar0;
}
.button-active:hover{
    background-color: fade($dcyan)
}
.button-warn{
    background-color: $red;
    color: $polar0;
}
.button-warn:hover{
    background-color: fade($red)
}
.button-nice{
    background-color: $green;
    color: $polar0;
}
.button-nice:hover{
    background-color: fade($green);
}
.button_flat{
    color: $snow2;
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 0px 4px 0px 4px;
}
.button_flat:hover{
    color: $snow0;
}

.window{
    background-color: $polar0;
    border-radius: 24px;
    border: 2px solid mix($orange, $polar3, 70);
}
.header{
    background-color: $polar1;
    border-radius: 24px 24px 0px 0px;

}
.footer{
    background-color: $polar1;
    border-radius: 0px 0px 24px 24px;
    padding: 8px;
}
.footer_text{
    color: $snow2;
    padding: $xlarge;
}
.sidebar_text,.sidebar_title{
    font-size:16px;
    color: $snow2;
    padding: $xlarge;
}
.sidebar_title{
    font-size: 20px;
}
.sidebar{
    background-color: $polar1;
    border-top: 2px solid $polar2;
    border-radius: 0px 0px 0px 24px;
    padding: 8px;
}
.sidebar_extension{
    background-color: $polar1;
    border-top: 2px solid $polar2;
    padding: 8px;
}
.section_selector{
    background-color: $polar1;
    border-top: 2px solid $polar2;
    border-radius: 0px 0px 24px 24px;
    padding: 2px;
    margin-bottom: 16px;
}

.section_box{
    border-radius: 12px;
    // margin-left: 4px;
    // margin-right: 4px;
}
.section_inside{
    margin: 4px;
}


.wallpaper,.card{
    background-color: $polar1;
    border-radius: 12px;
    padding: $xlarge;
    margin-top: 8px;
    border: 2px solid $polar3;
    // box-shadow: 5px 5px 10px rgba(0,0,0,0.1)
    // box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;


}
.wallpaper_label,.card-label{
    color: $snow0;
    font-size: 18px;
    font-weight: 500;
    background-color: $polar3;
    border-radius: 12px;
    padding: 8px 4px 8px 4px;
    margin-top: 2px;
}
.sliderbox{
    border-radius: 12px;
    margin-top: 8px;
    padding: $large;
}
.sliderbox_large{
    background-color: $polar1;
    border-radius: 12px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 1rem;
    border: 2px solid $polar3;
}
.sliderlabel{
    background-color: $polar2;
    border-radius: 12px;
    padding: 1px 16px 1px 12px;
    margin-left: 8px;
}
.slider trough, .slider-small trough, .slider-large trough,.slider-thick trough{
    all:unset;
    min-height: 6px;
    min-width: 16rem;
    border-radius: 12px;
    background-color: $polar3;
}
.slider-small trough{
    min-width: 12rem;
}
.slider-large trough{
    min-width: 28rem;
}
.slider trough highlight, .slider-small trough highlight, .slider-large trough highlight,.slider-thick trough highlight{
    background-color: $dcyan;
    border-radius: 12px;
}
.slider-thick trough highlight{
    background-color: fade($dcyan);
    border-radius: 8px;
}
.slider-thick trough{
    background-color: $polar1;
    min-height: 4rem;
    min-width: 24rem;
}
.input,.input-h{
    color: $snow2;
    padding: 1px 16px 1px 12px;
    margin: 6px;
    border: 2px solid $polar3;
    // margin-top: 8px;
    border-radius: 12px;
}
.input:focused,.input-h:focused{
    border: 2px solid fade($dcyan);
}
.input-h{
    min-height: 24px;
}
.input selection{
    color: $polar1;
    background-color: $dcyan;
    border-radius: 4px;
}
.display,.display-active{
    background-color: $polar3;
    border-radius: 12px;
    margin: 8px;
}
.display,.display-active:hover{
    background-color: $polar2;
}
.display-active{
    border: 2px solid $dcyan;
}

.selector{
    background-color: $polar3;
    border-radius: 12px;
    padding: 0px 16px 0px 12px;
    border: 2px solid $polar3;
}
.circle{
    color: $dcyan;
    background-color: $polar3;
}
.circle_label,.circle_label-off,.circle_label_small{
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 3.4rem;
    margin-right: 5rem;
    font-size: 64px;
    color: $dcyan;
}
.circle_label_small{
    font-size: 36;
    margin-top: 3rem;
    margin-right: 3rem;
    margin-left: 2.1rem;
    margin-bottom: 2.5rem;
}
.circle_label-off{
    color:$polar3;
}
.circle_box,.circle_box_small{
    background-color: $polar2;
    border-radius: 12px;
    padding: 12px;
    border: 2px solid $polar3;

}
.path_link{
    color: $dblue;
    font-size:16px;
    padding: $xlarge;
    transition: background-color 75ms cubic-bezier(0, 0, 0.2, 1);
}
.path_link-text{
    font-size: 16px;
}
.path_link:hover{
    color: $lblue;
}
.copy_text{
    color: $snow2;
    font-size:16px;
    padding: $xlarge;
    transition: background-color 75ms cubic-bezier(0, 0, 0.2, 1);
}
.copy_text-text{
    font-size: 16px;
}
.copy_text:hover{
    color: $snow0;
}
.copy_text:active{
    color: $polar3;
}
